<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Contacts Home Page</title>
</head>
<body>
  <h1>Contacts List</h1>
  <br><hr>

  <div class="container">
    <a th:href="@{/contact/addnewcontact}" class="btn btn-primary">Create New Contact</a>
    <br><br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Birthday</th>
        </tr>
      </thead>
      <tbody>
        <tr data-th-each="cont: ${contacts}">
          <td data-th-text="*{cont.contactId}"></td>
          <td data-th-text="*{cont.name}"></td>
          <td data-th-text="*{cont.email}"></td>
          <td data-th-text="*{cont.phoneNumber}"></td>
          <td data-th-text="*{cont.birthday}"></td>
          <td>
            <a th:href="@{/contact/contactupdate/{email}(email=${cont.email})}" class="btn btn-secondary">Update</a>
            <a th:href="@{/contact/contactdelete/{email}(email=${cont.email})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>